<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <xrp_payment>
                <model>XrpPaymentMethodFacade</model>
                <title>Pay with XRP | Ledger Direct</title>
                <active>1</active>
                <can_use_checkout>1</can_use_checkout>
                <order_status>pending</order_status>
                <settled_status>processing</settled_status>
                <processing_status>processing</processing_status>
                <expired_status>canceled</expired_status>
            </xrp_payment>
            <!--
            <xrpl_token_payment>
                <model>XrpLTokenPaymentMethodFacade</model>
                <title>Pay with Token | Ledger Direct</title>
                <active>1</active>
                <can_use_checkout>1</can_use_checkout>
                <order_status>pending</order_status>
                <settled_status>processing</settled_status>
                <processing_status>processing</processing_status>
                <expired_status>canceled</expired_status>
            </xrpl_token_payment>
            -->
        </payment>
    </default>
</config>
