body {
    &.ledger-direct {
        font-family: Montserrat, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        outline: 0!important;
        background-color: #e62355;
    }
}

.ld-container {
    width: 100%;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.ld-content {
    width: 100%;
}

.ld-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.ld-header h2 {
    color: white;
}

.ld-footer {
    margin-top: 1rem;
    text-align: center;
    color: white;
}

.ld-card {
    display: flex;
    background-color: white;
    border-radius: 0.5rem;
}

.ld-card-left {
    width: 66.66667%;
    padding: 1.5rem;
}

.ld-card-right {
    position:relative;
    width: 33.33333%;
    padding: 1.5rem;
    color: white;
    background-color: #1daae6;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

img.ld-astronaut {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 128px;
    height: 128px;
}

.ld-payment-info {
    margin-bottom: 8px
}

.ld-payment-info-text {
    display: flex;
    padding: 8px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #ced4da;
    border-radius: 3px;
}

.ld-payment-info-functions {
    display: grid;
    column-gap: 6px;
    grid-auto-flow: column;
    margin-left: auto;
}

.inline-svg {
    display: inline-block;
    margin-bottom: -2px;
    color: #3a3a3a;
}

.action-svg {
    display: block;
    cursor: pointer;
    fill: #758ca3;
}
.action-svg:hover {
    fill: #3a3a3a;
}

.ld-icon {
    display: block;
    position: absolute;
    padding: 0.5625rem 0.5625rem;
}

.ld-icon span.icon {
    display: block;
    height: 24px;
    width: 24px;
}

.ld-icon span.icon svg {
    top: 0;
}

.ld-warning {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ld-sync {
    text-align: center;
}

.ld-sync button {
    padding: 0.5rem;
    font-weight: bold;
    color: white;
    background-color: #1daae6;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
}

.ld-sync button:hover {
    background-color: #59c2ef;
}

.ld-sync button.wallet-active {

}

.ld-sync button.wallet-active:hover {
    background-color: #59c2ef;
}

.ld-sync button.wallet-disabled {
    background-color: grey;
    cursor: default;
}

.ld-sum {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.ld-back-to-cart {
    color: #ffffff;
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    body.ld-body {
        font-size: 14px;
        background-color: white;
    }

    .ld-header{
        display: none;
    }

    .ld-card {
        flex-direction: column;
    }

    .ld-card-left {
        width: 100%;
        padding: 16px;
        border-radius: 0;
    }

    .ld-card-right {
        width: 100%;
        padding: 16px;
        border-radius: 0;
    }

    img.ld-astronaut {
        width: 128px;
        height: 128px;
    }

    .ld-payment-info-text {
        padding: 6px;
        font-size: 12px;
        border-radius: 1px;
    }

    .ld-payment-info-functions svg {
        width: 20px;
        height: 20px;
    }
}
